.amplify/
.android/
.aws/
.awsCLI/
.azure/
.cache/
.config/configstore/
.config/ls-colors/
.config/lsd/
.config/matplotlib/
.config/mc/
.config/nextjs-nodejs/
.config/sanity/
.config/TabNine/
.config/wslu/
.config/yarn/
.config/zsh/
.config/kglobalshortcutsrc
.config/starship.toml
.config/yakuakerc
.dbus/
.degit/
.docker/
.expo/
.fnm/
.fonts/
.gem/
.gnupg/
.ipython/
.landscape/
.local/
.npm/
.nvm/
.pyenv/
.vim/
.vscode-server/
.yarn/
boulangerie/
full-stack-projects/
OSX-KVM/
node_modules/
nodejs-projects/
nvim-appimage/
python-projects/
react-projects/
WSL2-Linux-Kernel-4.19.104-microsoft-standard/
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/.zsh/.zcompdump
.config/.zsh/plugins/
.config/pulse/
.gitconfig
.python_history
.viminfo
.wget-hsts
.zcompdump
.zcompdump-JohnK-5.9
.zcompdump-JohnK-5.9.zwc
.zsh_history
.zshrc.omz-uninstalled-2022-12-03_10-47-43
.zshrc.zni
WSL2-Linux-Kernel-4.19.104-microsoft-standard.tar.gz
.sudo_as_admin_successful
create-react-app.json:Zone.Identifier
.git-credentials
.viminfo                                    
install.sh
.gitconfig      
.vs-liveshare-keychain                      
install.sh.1
.vscode-server                              
install.sh:Zone.Identifier
.wget-hsts                                  
install_nvm.sh
java-script-projects
.bash_history
.yarnrc                                     
.bash_logout
.motd_shown     
.zcompdump                                  
.bashrc
.netrc          
.zcompdump-JohnK-5.8                        
.zcompdump.JohnK.24102                      
nvim-linux64.deb
.npmrc          
.zsh_history                                
nvim.appimage
package.json
.p10k.zsh       
.zshrc.omz-uninstalled-2022-03-23_15-35-12  
.profile        
.zshrc.omz-uninstalled-2022-12-03_10-41-50  
wget-log
.selected_editor
create-react-app.json                       
yarn.lock